{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="quote-list" id="quote-list">

        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span onclick="modalCreateClose()" class="close">×</span>
                    <h2>Создать Цитату</h2>
                </div>
                <div class="modal-body">
                    <form>
                        <br>
                        <input placeholder="Текс" class="input" maxlength="2000" type="text" required id="text">
                        <br>
                        <br>
                        <input placeholder="Имя" class="input" maxlength="200" type="text" id="name">
                        <br>
                        <br>
                        <input placeholder="Почта" class="input" maxlength="30" type="email" id="email">
                        <br>
                        <br>
                        <button onclick="createQuote()" type="submit" id="create-button">Создать</button>
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3>Футер</h3>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script src="{% static "js/script.js" %}"></script>
    {% endblock %}

{% endblock %}