{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <nav class="main-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><button onclick="modalCreateOpen()" id="myBtn">Create</button></li>
            <li><a href="#">Our Aprroach</a></li>
            <li><a href="#">Our Work</a></li>
        </ul>
    </nav>
    <div class="quote-list" id="quote-list">

    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span onclick="modalCreateClose()" class="close">×</span>
                <h2>Создать Цитату</h2>
            </div>
            <div class="modal-body">
                <form>
                    <br>
                    <input placeholder="Текс" class="input" maxlength="2000" type="text" required id="text">
                    <br>
                    <br>
                    <input placeholder="Имя" class="input" maxlength="200" type="text" id="name">
                    <br>
                    <br>
                    <input placeholder="Почта" class="input" maxlength="30" type="email" id="email">
                    <br>
                    <br>
                    <button onclick="createQuote()" type="submit" id="create-button">Создать</button>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <h3>Футер</h3>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/script.js" %}"></script>
</body>
</html>